.cell.col-xs-2 = invoice_detail_line.description
.cell.col-xs-2 = invoice_detail_line.quantity
.cell.col-xs-2 = invoice_detail_line.unit_price
.cell.col-xs-2 = invoice_detail_line.total_amount
.cell.col-xs-2 = invoice_detail_line.expense_cost(invoice.id)
.cell.col-xs-2
  span class="#{invoice_detail_line.earnings(invoice.id) > 0 ? 'green' : 'red'}"
    = invoice_detail_line.earnings(invoice.id)
